@using AresDataProvider.Web.Views.DemoView.App_LocalResources;
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Index";
}
<script src="https://unpkg.com/vue"></script>
<script src="~/Scripts/vue-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>

<style>
	#vueApp {
		margin-top: 60px;
	}

	#result {
		margin-top: 20px;
	}

	#city,
	#result,
	#companySearch,
	#error {
		display: none;
	}
</style>

<div id="vueApp">
	<div class="ui icon input">
		@*<label>@Index_cshtml.InputField</label>*@
		<input type="text" v-model="userInput" placeholder="@Index_cshtml.InputPlaceholder" tabindex="1" />
		<i class="trash icon" v-on:click="userInput=''"></i>
	</div>
	<div class="ui icon input" id="city">
		@*<label>@Index_cshtml.City</label>*@
		<input type="text" v-model="cityInput" placeholder="@Index_cshtml.City" tabindex="2" />
		<i class="trash icon" v-on:click="cityInput=''"></i>
	</div>

	<div class="ui two columns grid" id="result">
		<div class="column">
			<div class="ui raised segment" id="basicInfo">
				<div class="ui header">@Index_cshtml.BasicInfos</div>
				<div class="ui segment">
					<p><strong>@Index_cshtml.CompanyName</strong> {{registryResponse.CompanyName}}</p>
				</div>
				<div class="ui segment">
					<p><strong>@Index_cshtml.TaxID</strong> {{registryResponse.TaxId}}</p>
				</div>
				<div class="ui raised segments">
					<div class="ui segment">@Index_cshtml.AddressInfos</div>
					<div class="ui segment">
						<p>&nbsp;&nbsp;<strong>@Index_cshtml.Country</strong> {{registryResponse.Address.Country}}</p>
					</div>
					<div class="ui segment">
						<p>&nbsp;&nbsp;<strong>@Index_cshtml.City</strong> {{registryResponse.Address.City}}</p>
					</div>
					<div class="ui segment">
						<p>&nbsp;&nbsp;<strong>@Index_cshtml.ZipCode</strong> {{registryResponse.Address.ZIPCode}}</p>
					</div>
					<div class="ui segment">
						<p>&nbsp;&nbsp;<strong>@Index_cshtml.Street</strong> {{registryResponse.Address.Street}}</p>
					</div>
				</div>
				<div class="ui segment">
					<p><strong>@Index_cshtml.Created</strong> {{registryResponse.Created}}</p>
				</div>
				<div class="ui segment">
					<p><strong>@Index_cshtml.Estate</strong> {{registryResponse.Estate}}</p>
				</div>
				<div class="ui segment">
					<p><strong>@Index_cshtml.EstatePaid</strong> {{registryResponse.EstatePercent}}</p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui raised segment" id="extendedInfo">
				<div class="ui header">@Index_cshtml.ExtendedInfos</div>
				<div class="ui segments">
					<div class="ui segment">
						<p><strong>@Index_cshtml.BoardRulling</strong> {{registryResponse.BoardRulling}}</p>
					</div>
					<div class="ui segment" id="members">
						<strong>@Index_cshtml.Members</strong>
					</div>
					<div class="ui black segment" v-for="member in registryResponse.Members">
						<div class="ui segment">
							<p>
								<strong>@Index_cshtml.FullName</strong> {{member.FullName}}
							</p>
						</div>
						<div class="horizontal segments">
							<div class="ui segment">
								<p>
									<strong>@Index_cshtml.Born</strong> {{member.Born}}
								</p>
							</div>
							<div class="ui segment">
								<p>
									<strong>@Index_cshtml.Role</strong> {{member.Role}}
								</p>
							</div>
						</div>
						<div class="ui segment">
							<strong>@Index_cshtml.AddressInfos</strong>
							<div class="ui horizontal segments">
								<div class="ui segment">
									&nbsp;&nbsp;<strong>@Index_cshtml.Country</strong> {{member.Address.Country}}
								</div>
								<div class="ui segment">
									&nbsp;&nbsp;<strong>@Index_cshtml.City</strong> {{member.Address.City}}
								</div>
							</div>
							<div class="ui horizontal segments">
								<div class="ui segment">
									&nbsp;&nbsp;<strong>@Index_cshtml.ZipCode</strong> {{member.Address.ZIPCode}}
								</div>
								<div class="ui segment">
									&nbsp;&nbsp;<strong>@Index_cshtml.Street</strong> {{member.Address.Street}}
								</div>
							</div>
						</div>
						<div class="ui segment">
							<p>
								<strong>@Index_cshtml.MembershipStartDate</strong> {{member.MemberStartDate}}
							</p>
						</div>
						<div class="ui segment">
							<p>
								<strong>@Index_cshtml.FunctionStartDate</strong> {{member.MemberStartDate}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ui segment" id="error">
		<div class="ui header">@Index_cshtml.Errors</div>
		<p v-if="registryResponse.Error != null">
			<strong>Error: </strong>{{registryResponse.Error}}
		</p>
		<div v-if="searchResponse.Errors != null">
			<p v-for="error in searchResponse.Errors">
				<strong>Error:</strong> {{error}}
			</p>
		</div>
	</div>

	<div id="companySearch" class="ui segments">
		<div class="ui segment">
			<p>
				<strong>@Index_cshtml.Results</strong>
			</p>
		</div>
		<div class="ui three columns divided grid segment" v-for="item in searchResponse.Items">
			<div class="column">
				<p>
					<strong>@Index_cshtml.TaxID</strong>: <a v-on:click="SearchTaxId(item.TaxId)">{{item.TaxId}}</a>
				</p>
			</div>
			<div class="column">
				<p>
					<strong>@Index_cshtml.CompanyName</strong>: {{item.Name}}
				</p>
			</div>
			<div class="column">
				<p>
					<strong>@Index_cshtml.Address</strong>: {{item.Address}}
				</p>
			</div>
		</div>
	</div>
</div>

<script src="~/Scripts/semantic.min.js"></script>

<script src="~/Scripts/MyVue.js"></script>
