@using AresDataProvider.Web.Views.DemoView.App_LocalResources;
@{
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewBag.Title = "Index";
}

<style>
	a:hover {
		cursor: pointer;
	}

	#vueApp {
		margin-top: 60px;
	}

	#registryData {
		margin-top: 20px;
	}

	#basicDataTable {
		margin-top: 15px;
	}

	#rzpData {
		margin-top: 15px;
	}

	#companySearch {
		padding: 10px;
	}

	/*#registryData,
	#companySearch,
	#error,
	#basicDataTable,
	#rzpData {
		display: none;
	}*/

	.companyItem {
		width: 230px;
	}

		.companyItem:hover {
			cursor: pointer;
		}
</style>

<div id="vueApp">
	<div class="ui icon input">
		<input type="text" v-model="userInput" v-on:keyup.enter="PreSearch()" placeholder="@Index_cshtml.InputPlaceholder" tabindex="1" />
		<i class="trash icon" v-on:click="userInput=''; cityInput=''"></i>
	</div>
	<div class="ui icon input" id="city" v-if="cityVisible">
		<input type="text" v-model="cityInput" v-on:keyup.enter="SearchByNameAndCityInES()" placeholder="@Index_cshtml.City" tabindex="2" />
		<i class="trash icon" v-on:click="cityInput=''"></i>
	</div>

<router-link to="/ico/05441838">Some Route link</router-link>
	
<router-view></router-view>

<div class="ui tiny label" v-if="requestTime !== 0">
		<p>@Index_cshtml.TimeTaken {{requestTime}}</p>
	</div>

	<div class="ui active inverted dimmer" v-if="isLoading" id="loader">
		<div class="ui text loader">
			Loading
		</div>
	</div>

	@*<div class="ui segments" id="basicDataTable">
		<div class="ui segment">
			<p class="ui three columns grid">
				<strong class="ui column">@Index_cshtml.BasicData</strong>
				<strong class="ui column">@Index_cshtml.PlaceOfEvidence <a v-on:click="SearchTaxId(responseBasic.TaxId)">{{responseBasic.PlaceOfEvidence}}</a></strong>
				<strong class="ui column"><a v-on:click="SearchByTaxIdInES(responseBasic.TaxId)">@Index_cshtml.EconomicSubject</a></strong>
			</p>
		</div>
		<div class="ui two columns divided grid segment">
			<div class="ui column">
				<p>
					<strong>@Index_cshtml.TaxID</strong> {{responseBasic.TaxId}}
				</p>
			</div>
			<div class="ui column">
				<p>
					<strong>@Index_cshtml.CompanyName</strong> {{responseBasic.Name}}
				</p>
			</div>
		</div>
		<div class="ui segment">
			<p>
				<strong>@Index_cshtml.AddressInfos</strong>
			</p>
			<div class="ui segments">
				<div class="ui segment">
					<p>
						<strong>@Index_cshtml.Country/@Index_cshtml.CountryCode </strong> {{responseBasic.Address.Country}}/{{responseBasic.Address.CountryCode}}
					</p>
				</div>
				<div class="ui five columns grid segment">
					<div class="ui column">
						<p>
							<strong>@Index_cshtml.City </strong> {{responseBasic.Address.City}}
						</p>
					</div>
					<div class="ui column">
						<p>
							<strong>@Index_cshtml.DistrictName </strong> {{responseBasic.Address.DistrictName}}
						</p>
					</div>
					<div class="ui column">
						<p>
							<strong>@Index_cshtml.CityPartName </strong> {{responseBasic.Address.CityPartName}}
						</p>
					</div>
					<div class="ui column">
						<p>
							<strong>@Index_cshtml.Street </strong> {{responseBasic.Address.Street}}
						</p>
					</div>
					<div class="ui column">
						<p>
							<strong>@Index_cshtml.ZipCode </strong> {{responseBasic.Address.ZipCode}}
						</p>
					</div>
				</div>

				<div class="ui four columns grid segment">
					<p class="ui column">
						<strong>@Index_cshtml.HouseNumber </strong> {{responseBasic.Address.HouseNumber}}
					</p>
					<p class="ui column">
						<strong>@Index_cshtml.OrientationNumber </strong> {{responseBasic.Address.OrientationNumber}}
					</p>
					<p class="ui column">
						<strong>@Index_cshtml.AddressCode </strong> {{responseBasic.Address.AddressCode}}
					</p>
					<p class="ui column">
						<strong>@Index_cshtml.ObjectCode </strong> {{responseBasic.Address.ObjectCode}}
					</p>
				</div>
			</div>
		</div>
		<div class="ui segments">
			<div class="ui segment">
				<p>
					<strong>@Index_cshtml.ScopeOfBusiness </strong>
				</p>
			</div>
			<div class="ui segment" v-for="item in responseBasic.ScopeOfBusiness">
				<p>{{item}}</p>
			</div>
		</div>
	</div>

	<div class="ui segments" id="rzpData">
		<div class="ui segment">
			<p class="ui three columns grid">
				<strong class="ui column">@Index_cshtml.RZP</strong>
				<strong class="ui column"><a v-on:click="SearchByTaxIdInES(responseRzp.TaxId)">@Index_cshtml.EconomicSubject</a></strong>
				<strong class="ui column"><a v-on:click="SearchByTaxIdInBasic(responseRzp.TaxId)">@Index_cshtml.BasicData</a></strong>
			</p>
		</div>
		<div class="ui segments">
			<div class="ui segment">
				<p><strong>@Index_cshtml.TaxID </strong> {{responseRzp.TaxId}}</p>
			</div>
			<div class="ui segment">
				<p><strong>@Index_cshtml.CompanyName </strong> {{responseRzp.Name}}</p>
			</div>
			<div class="ui segments">
				<div class="ui segment">
					@Index_cshtml.AddressInfos
				</div>
				<div class="ui segment">
					<p>
						<strong>@Index_cshtml.City </strong> {{responseRzp.Address.City}}
					</p>
				</div>
				<div class="ui segment">
					<p>
						<strong>@Index_cshtml.Street </strong> {{responseRzp.Address.Street}}
					</p>
				</div>
				<div class="ui segment">
					<p>
						<strong>@Index_cshtml.ZipCode </strong> {{responseRzp.Address.ZipCode}}
					</p>
				</div>
			</div>
			<div class="ui segments">
				<div class="ui segment" v-for="item in responseRzp.ScopeOfBusiness">
					<p><strong>@Index_cshtml.ScopeOfBusiness</strong> {{item}}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="ui two columns grid" id="registryData">
		<div class="ui two columns">
			<p class="ui two columns grid segment">
				<strong class="ui column"><a v-on:click="SearchByTaxIdInES(responseOr.TaxId)">@Index_cshtml.EconomicSubject</a></strong>
				<strong class="ui column"><a v-on:click="SearchByTaxIdInBasic(responseOr.TaxId)">@Index_cshtml.BasicData</a></strong>
			</p>
		</div>
		<div class="column">
			<div class="ui raised segment" id="basicInfo">
				<div class="ui header">
					<div>@Index_cshtml.BasicInfos</div>
				</div>
				<div class="ui segment">
					<p>
						<strong>@Index_cshtml.CompanyName</strong> {{responseOr.CompanyName}}
					</p>
				</div>
				<div class="ui segment">
					<p>
						<strong>@Index_cshtml.TaxID</strong> {{responseOr.TaxId}}
					</p>
				</div>
				<div class="ui raised segments">
					<div class="ui segment">@Index_cshtml.AddressInfos</div>
					<div class="ui segment">
						<p>
							&nbsp;&nbsp;<strong>@Index_cshtml.Country</strong> {{responseOr.Address.Country}}
						</p>
					</div>
					<div class="ui segment">
						<p>
							&nbsp;&nbsp;<strong>@Index_cshtml.City</strong> {{responseOr.Address.City}}
						</p>
					</div>
					<div class="ui segment">
						<p>
							&nbsp;&nbsp;<strong>@Index_cshtml.ZipCode</strong> {{responseOr.Address.ZipCode}}
						</p>
					</div>
					<div class="ui segment">
						<p>
							&nbsp;&nbsp;<strong>@Index_cshtml.Street</strong> {{responseOr.Address.Street}}
						</p>
					</div>
				</div>
				<div class="ui segment">
					<p>
						<strong>@Index_cshtml.Created</strong> {{responseOr.Created}}
					</p>
				</div>
				<div class="ui segment">
					<p>
						<strong>@Index_cshtml.Estate</strong> {{responseOr.Estate}}
					</p>
				</div>
				<div class="ui segment">
					<p>
						<strong>@Index_cshtml.EstatePaid</strong> {{responseOr.EstatePercent}}
					</p>
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui raised segment" id="extendedInfo">
				<div class="ui header">@Index_cshtml.ExtendedInfos</div>
				<div class="ui segments">
					<div class="ui segment">
						<p>
							<strong>@Index_cshtml.BoardRulling</strong> {{responseOr.BoardRulling}}
						</p>
					</div>
					<div class="ui segment" id="members">
						<strong>@Index_cshtml.Members</strong>
					</div>
					<div class="ui black segment" v-for="member in responseOr.Members">
						<div class="ui segment">
							<p>
								<strong>@Index_cshtml.FullName</strong> {{member.FullName}}
							</p>
						</div>
						<div class="horizontal segments">
							<div class="ui segment">
								<p>
									<strong>@Index_cshtml.Born</strong> {{member.Born}}
								</p>
							</div>
							<div class="ui segment">
								<p>
									<strong>@Index_cshtml.Role</strong> {{member.Role}}
								</p>
							</div>
						</div>
						<div class="ui segment">
							<strong>@Index_cshtml.AddressInfos</strong>
							<div class="ui horizontal segments">
								<div class="ui segment">
									&nbsp;&nbsp;<strong>@Index_cshtml.Country</strong> {{member.Address.Country}}
								</div>
								<div class="ui segment">
									&nbsp;&nbsp;<strong>@Index_cshtml.City</strong> {{member.Address.City}}
								</div>
							</div>
							<div class="ui horizontal segments">
								<div class="ui segment">
									&nbsp;&nbsp;<strong>@Index_cshtml.ZipCode</strong> {{member.Address.ZIPCode}}
								</div>
								<div class="ui segment">
									&nbsp;&nbsp;<strong>@Index_cshtml.Street</strong> {{member.Address.Street}}
								</div>
							</div>
						</div>
						<div class="ui segment">
							<p>
								<strong>@Index_cshtml.MembershipStartDate</strong> {{member.MemberStartDate}}
							</p>
						</div>
						<div class="ui segment">
							<p>
								<strong>@Index_cshtml.FunctionStartDate</strong> {{member.MemberStartDate}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="ui segment" id="error">
		<div class="ui header">@Index_cshtml.Errors</div>
		<p v-if="responseOr.Error != null">
			<strong>Error: </strong>{{responseOr.Error}}
		</p>
		<div v-if="responseEs.Errors != null">
			<p v-for="error in responseEs.Errors">
				<strong>Error:</strong> {{error}}
			</p>
		</div>
		<div v-if="responseBasic.Error != null">
			<p><strong>Error: </strong> {{responseBasic.Error}}</p>
		</div>
	</div>

	<div id="companySearch" class="ui segments">
		<div class="ui top attached label">
			<p>
				<strong>@Index_cshtml.Results</strong>
			</p>
		</div>
		<div class="ui grid">
			<div class="ui four wide column" v-for="item in responseEs.Items">
				<a v-on:click="SearchByTaxIdInBasic(item.TaxId)" class="companyItem">
					<div class="ui raised segment">
						<div class="ui top attached label">
							<p>{{item.Name}}</p>
						</div>
						<p>{{item.TaxId}}</p>
						<p>{{item.Address}}</p>
					</div>
				</a>
			</div>
		</div>
	</div>*@
</div>

<script src="~/Scripts/semantic.min.js"></script>

